<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TrabajoDEW</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <context-param>
    <param-name>rutaArchivo</param-name>
    <param-value>/home/user/Escritorio/NOLG2Access.log</param-value>
  </context-param>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AccesoAlu</web-resource-name>
      <url-pattern>/Alumno</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolalu</role-name>
      <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AccesoProf</web-resource-name>
      <url-pattern>/Profesor.html</url-pattern>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>rolpro</role-name>
      <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/error.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>rolalu</role-name>
  </security-role>
  <security-role>
    <role-name>rolpro</role-name>
  </security-role>
  <filter>
    <display-name>Log3</display-name>
    <filter-name>Log3</filter-name>
    <filter-class>Log3</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Log3</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Alumno</display-name>
    <servlet-name>Alumno</servlet-name>
    <servlet-class>Alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alumno</servlet-name>
    <url-pattern>/Alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imprimir</display-name>
    <servlet-name>Imprimir</servlet-name>
    <servlet-class>Imprimir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imprimir</servlet-name>
    <url-pattern>/Imprimir</url-pattern>
  </servlet-mapping>
</web-app>