
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
hr{
    border: none;
    height: 2px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--color-green1);
}
.medicamento {
    margin: 0 20px;
    margin-bottom: 20px;
    padding: 20px 20px;
    border-radius: 30px;
    background-color: var(--color-green2);
    font-size: 14px;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px
}
.patata{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.medicamento h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: var(--color-text1);
}
.medicamento-info{
    background-color: white;
    width: 100%;
    border-radius: 13px;
    padding-left: 15px;
    padding-top: 10px;
    height: fit-content;
}

.medicamento-info h2{
    margin-top: -4px;
    margin-bottom: -4px;
    color: var(--color-text2);
    font-size: 19px;
}

.medicamento p {
    margin: 5px 0;
    color: black
}


.info-toma{
    display: flex;
    border-radius: 60px;
    border: 2px solid;
    border-color:  var(--color-green1);
    margin: 20px 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--color-text1);
    justify-content: left;
    align-items: center;
    width: fit-content;
    height: 35px;
}
.fechas, .notas-adicionales{
    margin: 0 30px;
}
.fechas ul,.notas-adicionales ul{
    font-size: 15px;
}
.fechas li, .notas-adicionales li{
    margin-bottom: 15px;
}
.fechas span, .notas-adicionales span{
    font-size: 24px;
}
footer{
    background-color: white;
}
.back-arrow {
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
}
.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Espaciado entre los <hr> */
}
.center-button {
    width: 60%;
    height: 45px;
    background-color: #3E837A;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'League Spartan';
    transition: background-color 0.3s;
}

.center-button:hover {
    background-color: #2E6D66;
}
.proxima-toma {
    width: 90%;
    background-color: #ffffff;
    border-radius: 13px;
    text-align: center;
    padding: 4px;
    margin: 3px 0;
    font-size: 16px;
    color: var(--color-text3);
    display: flex;
    justify-content: center;

}
