@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&display=swap');
.appcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5BAD96;
}
.menu{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 60%;
}
button{
    border: none;
    margin: 5px;
    border-radius: 30px;
    height: 45px;
    font-size: 24px;
}
button:hover{
    cursor: pointer;
}
#btnInicioSesion{
    color:white;
    background-color: #5BAD96;
}
#btnRegistrarse{
    color:#007F4E;
    background-color: #BEDDD9;
}
.league-spartan-info {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: white;
    transition: color 0.5s ease;
}
#loading {
    transition: background-color 0.5s ease; /* Fondo cambiará en 1 segundo */
}
.league-spartan-info p{
    font-size: 20px;
}
.league-spartan-info h1{
    font-size: 60px;
    margin-bottom: -10px;
}
.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo{
    width: fit-content;
    transition: transform 0.5s ease, opacity 0.5s ease;
}
.intro{
    display: none;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}