@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.card h3 {
    margin: 0 0 5px;
    font-size: 18px;
    color: var(--color-text1);
}

.card p {
    margin: 5px 0;
    color: var(--color-text3);
}

.card .proxima-toma {
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    color: var(--color-text3);
    display: flex;
    justify-content: space-between;
}

.card .proxima-toma span {
    margin-left: auto;
    margin-right: auto;
}