body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #3E837A;
    font-weight: 550;
}
h2{
    font-size: 24px;
    font-weight: 550;
}
form
{
    margin-top: 40px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
header{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
main{
    padding: 20px;
    padding-top: 0px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
footer{
    font-size: 24px;
    font-weight: 100;
}
footer p{
    text-align: center;
    color: black;
}
footer a{
    color: #2260FF;
    font-weight: bold;
}
.back-button{
    color: #3E837A;
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 100;
}
#btnRegistrarse:hover{
    cursor: pointer;
}
#btnRegistrarse{
    width: 65%;
    color:white;
    background-color: #5BAD96;
    border: none;
    margin: 5px;
    border-radius: 30px;
    height: 45px;
    font-size: 24px;
}
.password-container{
    display: flex;
    background-color: #DFEEE8;
    height: 48px;
    align-items: center;
    padding: 0;
    border-radius: 13px;
}
.toggle-password
{
    background-color: #DFEEE8;
    border: none;
    height: 45px;
    width: 45px;
    border-radius: 13px;
}
.toggle-password:hover{
    cursor: pointer;
}
.welcome-text{
    font-size: 24px;
}
.titulo-pagina{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    font-size: 20px;
    color: #3E837A;
    font-weight: bold;
}
.boton-atras{
    background: none;
    border: none;
    color: #5BAD96;
    margin: 0;
}
.boton-atras:hover{
    cursor: pointer;
}
.forgot-password
{
    font-size: 12px;
    text-align: right;
    color: #3E837A;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
.password-container input:focus {
    outline: none;
}
.password-container.focused {
    border: 2px solid #007bff; 
}
#login{
    background-color: white;
}
.politicas{
    color: black;
    text-align: center;
}
/*Mirar si mejorar esto*/
label{
    color: black;
    font-weight: 500;
}
